<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
           id="com-hitrust-plugin-smartcard"
      version="0.0.1">
    <name>com-hitrust-plugin-smardcard</name>

    <js-module src="www/cardReader.js" name="cardReader">
        <clobbers target="hitrust.plugins.cardReader" />
    </js-module>

    
    <!-- TODO: Uncomment this if you would like to add Android support -->
    <!-- android -->
       
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="cardReader" >
                <param name="android-package" value="com.hitrust.plugins.CardReader"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <source-file src="src/android/CardReader.java" target-dir="src/com/hitrust/plugins" />
        <lib-file src="src/android/libs/acssmc-1.1.4.jar" />
    </platform>
   

    <!-- TODO: Uncomment this if you would like to add iOS support -->
    <!-- ios -->
    
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="cardReader">
                <param name="ios-package" value="CardReader"/>
            </feature>
        </config-file>
        <header-file src="src/ios/CardReader.h" />
        <source-file src="src/ios/CardReader.m" />
        <header-file src="src/ios/HTSmartCard.h" />
        <source-file src="src/ios/HTSmartCard.mm"/>
        <header-file src="src/ios/HTSmartCardUtility.h" />
        <source-file src="src/ios/HTSmartCardUtility.cpp" />
        <header-file src="src/ios/ft301u.h" />
        <header-file src="src/ios/ReaderInterface.h" />
        <header-file src="src/ios/winscard.h" />
        <header-file src="src/ios/wintypes.h" />
        <framework src="src/libs/libiRockey301_ccid.a" custom="true" />
    </platform>
   

</plugin>
